$lightgrey: #E5E4E4;
$darkgrey: #2F2F2F;

body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
  }
  .mainheader {
    padding-left: 20px;
    height: 7vh;
    line-height: 7vh;
    background-color: $darkgrey;
    color: white;
    font-size: 14px;
  }
  .headertitle {
    float: right;
    padding-right: 10px;
  }
  i {
    padding-right: 20px;
    cursor: pointer;
    &:hover {
      color: orange;
    }
  }
  .flex {
    display: flex;
  }
  
  #editor {
    width: 50%;
    height: 87vh;
    overflow: scroll;
    border: none;
    padding: 3vh 15px;
    font-size: 15px;
  }
  
  #preview {
    width: 50%;
    background-color: $lightgrey;
    overflow: scroll;
    height: 87vh;
    padding: 3vh 15px;
  }
  
  code {
    background-color: white;
    font-size: 14px;
    padding: 2px;
  }
  
  pre {
    background-color: white;
    padding: 5px;
    margin: 5px;
  }
  
  img {
    width: 100px;
  }
  
  @media only screen and (max-width: 600px) {
    .flex {
      display: block;
    }
  
    #editor {
      width: 100%;
      box-sizing: border-box;
      height: 50vh;
      overflow: visible;
    }
  
    #preview {
      width: 100%;
      box-sizing: border-box;
      overflow: visible;
      height: 100%;
    }
  }